:root{
    --primary-color: rgb(79, 111, 82);
    --secondary-color: rgb(26, 77, 46);
    --ternary-color: rgb(15, 44, 27);
    --text-color: rgb(232, 223, 202);
}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    font-family: "Comic Neue", cursive;
    color: var(--text-color);

}

a{
    color: var(--text-color);
}

header{
    text-align: center;
    margin: 2rem;
}


.bold-text{
    font-family: "Comic Neue", cursive;
    font-weight: 700;
}

.wrapper-narrow{
    max-width: 500px;
    margin: auto;
}


.wrapper{
    max-width: 1080px;
    margin: auto;
}

.textarea-layout{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media only screen and (max-width:600px){
    .textarea-layout{
        flex-direction: column;
    }
}

#translator{
    padding: 1rem;

}



.area{
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: var(--secondary-color);
    border-radius: 2px;
    flex: 1;
    overflow-y: auto;
    padding: 0.2rem;
    height: 10rem;
    overflow-y: auto;
    color: var(--text-color);
}

textarea{
    resize: none;
   user-select:none;
    font-family: "Comic Neue", cursive;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
}

select{
    padding: 0.5em;
    margin-bottom: 1rem;
    text-align: center;
}



button{
    padding: 1em 3em;
    margin-top: 1em;
    font-size: large;
}

.interactible{
    text-align: center;
    min-width: 10rem;
    background-color: var(--secondary-color);
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}




.interactible:hover{
    background-color: var(--ternary-color);
 }
 
 .interactible:active{
    background-color: var(--primary-color) !important;
}

button:hover{
    cursor: pointer;
}


